body {
                background: #89CFF0;
                font-family: "Lucida Console", "Courier New", monospace;
            }
            
figure {width:50%;
             background: /*#EFD6F6*/ #9DD9F3;;
            }
            
img {width:100%;}
            
img#Timeline {width:10%;}
            
section{
            background:#9DD9F3;
            width:90%;
            margin:auto;
            }
