body {
                background: #90D5FF;
                font-family: "Lucida Console", "Courier New", monospace;
            }
            
figure {width:20%;
             background: /*#EFD6F6*/ lavender;;
            }
            
img {width:90%;}
            
img#PSB {width:10%;}
            
section{
            background: lavender;
            width:90%;
            margin:auto;
            }
